body{
    background-color: aquamarine;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}
nav ul{
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: end;
    gap: 10px;
}

a{
    text-decoration: none;
    color: white;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}